*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 2rem;
    align-content: center;   
list-style: none;
}
li:hover{
    cursor: pointer;
    color: orangered;

}
p{
    text-align: center;
    margin-top: 40%;
}